{% extends 'base.html' %}

{% block title %} Delete Order {% endblock %}
{% block delete_order_active %} active {% endblock delete_order_active %}

{% block css %}

{% endblock %}
{% block body %}



<h1>Delete Post...</h1>
<br><br>

<h3>Delete: {{name}}</h3>


<br>
<div class="form-group">
  <form method="POST">
      {% csrf_token %}
      <strong>Are you sure you want to delete post?</strong><br>
      <a href="/add_cart/" class="btn btn-success">Cancel</a>
      <button class="btn btn-secondary">Delete Cart</button>
</div>



{% block js %} 
{% endblock %}
<script></script>

{% endblock %}