{% extends 'base.html' %}

{% block title %} Edit Profile {% endblock %}
{% block edit_profile_active %} active {% endblock edit_profile_active %}

{% block css %}

{% endblock %}
{% block body %}

<div class="jumbotron container row">
    <div class="col-md-6">
        <div class="card card-body">
           <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                {{form.as_p}}
                <br>
             <input type="submit" name="Update">
             </form>
            </div>
        </div>
    </div>
 
</div>

{% endblock %}