
{% extends 'base.html' %}

{% block title %} Edit Page {% endblock %}


{% block css %}

{% endblock %}
{% block body %}

    

    
    
    {% if submitbutton == 'Search' and request.GET.q != '' %}
    {% if results %}
    <h1>Results for <b>{{ request.GET.q }}</b></h1>
    
    {% for result in results %}

    <div class="container mt-5 mb-3">
        <!-- <h1>Products</h1> -->
        <div class="row" style="padding: 10px; margin: 20px;">
          
        <div class="col-lg-4 my-4">
            <div class="card" style="width: 19rem; height: 30rem; border:1px rgb(201, 197, 197)">
                <img class="card-img-top" src="/media/{{result.image}}" alt="Card image cap" style="height: 19rem; width: 19rem;">
                <div class="card-body">
                <h5  class="category"><a style="text-decoration: none; color: red;" href="{% url 'category' result.category %}">{{result.category}}</a></h5>
                <h5 class="card-title">{{result.manufacturer}}</h5>
               
                <p class="card-text">N{{result.price}}</p>
                <a class="btn btn-primary" href="{% url 'product_detail' result.pk %}">Details</a>
                <a class="btn btn-warning" href="{% url 'edit_product' result.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete_product' result.pk %}">Delete</a>
                
            </div>
            </div>
            </div>
            
            <br/>
        
        </div>
    </div>
    
    {% endfor %}
    {% else %}
    No search results for this query
    {% endif %}
    {% endif %}  
   

{% endblock %}
  

